﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie List";

}

<h2>Movie List</h2>
<p>Hello from our View Template!</p>

<a asp-route-